<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hd.hse.scw.phone"
    android:versionCode="1"
    android:versionName="1.0.0-SNAPSHOT" >

    <uses-sdk android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme" >
        <activity 
            android:name="com.hd.hse.scw.phone.ui.event.activity.workorder.TaskTabulationActivity" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        
        <activity 
            android:name="com.hd.hse.scw.phone.ui.event.activity.workorder.GuardianShiftChangeActivity" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
    </application>

</manifest>