<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hd.hse.app.phone.res"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">
    </application>

</manifest>