<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="rmt.leaderappr.phone.app">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="rmt.leaderappr.phone.app.activity.LeaderApprActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ACTION_WORKTASK_ONLINELL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="rmt.leaderappr.phone.app.activity.WovTaskActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="rmt.leaderappr.phone.app.activity.PermitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="rmt.leaderappr.phone.app.activity.LeaderDivideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

    </application>


</manifest>
